*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif
}

/* BACKGROUND IMAGE */

.banner{
    background-image: url(9.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* NAVBAR */

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}

.nav-bar > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-bar-content{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-bar-content a {
    color: rgb(56, 41, 41);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-bar-content:hover {
    border-bottom: 1px solid black;
}

.nav-bar-content a:hover {
    color: darkgray;
}
.logo{
    width: 70px;
    clip-path: circle();
    cursor: pointer;
}
/* Socials links */

#fb{
    color: #3b5998
}

#lkdn{
    color: #0e76a8
}
.socials{
    display: flex;
    justify-content: center;
}
.socials #fb:hover{
    transition: 0.2s;
    color: lightblue;
}

.socials #lkdn:hover{
    transition: 0.2s;
    color: lightblue;
}

/* Middle Content */

#portrait{
    width: 20%;
    display: flex;
    justify-content: center;
    margin: auto;
    clip-path: circle();
    cursor: pointer;
}
.middle-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.692);
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 20%;
}
.middle-content p{
    padding: 10px;
}
.middle-content a {
    color:rgba(6, 16, 29, 0.589);
    text-decoration: none;
    border-bottom: 10px solid transparent;
    transition: border-bottom 0.5s;
}
/*
.middle-content a:hover {
    border-bottom: 1px solid whitesmoke;
}
*/
.middle-content a:hover {
    color: rgba(0, 0, 0, 0.575);
}

#button{
    display: flex;
    margin: auto;
    color: black;
    border-style: none;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 10%;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.438);
    text-transform: uppercase;
    cursor: pointer;
}   

#button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

/*.middle-content{
    color: rgba(0, 0, 0, 0.692);
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 10%;
    transform: translateX(5%);
}/*

/* Forms Section */
h2{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 30px;
    line-height: 100pt;
}
#contacto {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 20pt;
}
input[type=text], input[type=email]{
    display: flex;
    margin: auto;
    background-color: lightgray;
    color: black;
    border-style: none;
    border-radius: 10px;
    width: 20%;
    line-height: 20pt;
}
textarea{
    display: flex;
    background-color: lightgrey;
    color: black;
    border-style: none;
    border-color: black;
    border-radius: 5px;
    margin: auto;
    width: 20%;
}
input[type=submit]{
    display: flex;
    margin: auto;
    background-color: lightgray;
    color: black;
    border-style: none;
    padding: 0px 10px;
    border-style: solid;
    border-radius: 5px;
    justify-content: center;
    color: rgb(63, 51, 51);
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
input[type=submit]:hover{
    color: rgba(0, 0, 0, 0.521);
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-color: rgb(51, 93, 206);
}

@media screen and (max-width:768px){
    section{
        flex-direction:column;
    }
}

/*
.backgroundtwo{
    background-image: url(Images/9.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
/*
h1{
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
p{
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}